.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: rgb(255, 214, 252);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 1.9rem;

}

.nav__item a {
  font-weight: 500;
  font-size: 1.2rem;
  color: #0a2b1e;
  text-decoration: none;
  transition: 0.3s;  font: bolder;
}

.nav__item a:hover {
  color: #100040;
}

.nav__right p {
  font-weight: 500;
  color: #0a2b1e;
  font-size: 1.1rem;
  

}
.nav__right {
  display: flex;
  align-items: center;
}

.nav__right button {
  background-color: #1e1d1d;
  color: white;
  padding: 1px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav__right button:hover {
  background-color: #100040;
}


.nav__right p i {
  font-size: 1.3rem;
}

.mobile__menu span i {
  font-size: 1.4rem;
  color: #0a2b1e;
  cursor: pointer;
}

.mobile__menu {
  display: none;
}

@media only screen and (max-width: 991px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #292b0ac2;
    z-index: 99;
    display: none;
  }

  .nav__list {
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    padding-top: 80px;
  }

  .mobile__menu {
    display: block;
  }
  .nav__right {
    display: none;
  }

  .active__menu {
    display: block;
  }
}
.logo i{
  /* width: 45px;
  height: 45px; */
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 4px;
}
.hh{
  margin-top: -10px;
}